textarea.textarea {
  width: 100%;
  transition: border 0.15s ease-in-out;
  border: 2px solid $grey;
  border-radius: 2px;
  padding: 15px;
  font-size: 1rem;
  margin: 5px 0px;
}

textarea.textarea:focus {
  outline: none;
  border-color: $blue;
}

textarea.textarea-alert-warning {
  border-color: darken($yellow, 20);
}
textarea.textarea-alert-error {
  border-color: $red;
}
