@import 'bourbon';
@import 'neat';

.container {
  @include outer-container;
}

.span-4 {
  @include span-columns(4);
}

.span-8 {
  @include span-columns(8);
}

.span-12, .span-full {
  @include span-columns(12);
}

.shift-4 {
  @include shift(4);
}

.spacing-1 {
  margin-bottom: 20px;
}

.spacing-2 {
  margin-bottom: 40px;
}

.spacing-3 {
  margin-bottom: 60px;
}


.sticky {
  position: fixed;

  a {
    color: #2c9ab7;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin: 10px 0 10px 10px;
    }
  }
}

.preview-component {
  margin-top: 70px;
}
